{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
Sobre o Rango
{% endblock title_block %}

{% block body_block %}

    <h1>Sobre o <a href="{% url 'index' %}">Rango</a><br /></h1>
    <div>
        O rango é uma aplicação para o gerenciamento de sites, feito em Django e utilizado nas aulas de Desenvolvimento Web 2.
    </div>
    <div>
        <img src="{% static "images/rango.jpg" %}" alt="Foto do Rango" />
        <img src="/media/cat.png" alt="Foto do Rango" />
    </div>

{% endblock body_block %}